$lightShade: #f4f4f8;
$primary: #e55e3a;
$lightAccent: #dddde6;
$darkAccent: #2a2c41;
$errorColor: #c5392f;
$warning: #f39922;
$fadedLightAccent: rgba(221, 221, 230, 0.3);
$fadedWarningAccent: rgba(243, 153, 34, 0.6);
$fadedCardAccent: #f3d1a6;
$fadedLightAccentHex: #eedbcc;
$fadedDarkAccent: rgba(42, 44, 65, 0.5);
$disabled: #a7a8b0;
$success: rgb(22, 142, 30);
